version: "3.8"

services:
  web:
    build: .
    volumes:
      - ./py:/app
    ports:
      - 5000:5000
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres:13-alpine
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
